ALTER TABLE public.user_settings ADD COLUMN IF NOT EXISTS tts_provider text not null default 'local';
ALTER TABLE public.user_settings ADD COLUMN IF NOT EXISTS reading_minutes integer not null default 0;
ALTER TABLE public.user_settings ADD COLUMN IF NOT EXISTS books_started integer not null default 0;
ALTER TABLE public.user_settings ADD COLUMN IF NOT EXISTS books_finished integer not null default 0;
